<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">Vidly</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link "routerLink="home">Home
          </a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a routerLink="genres" class="nav-link">Genres</a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a routerLink="movies" class="nav-link">Movies</a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a routerLink="customers" class="nav-link">Customers</a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a routerLink="add-customer" class="nav-link">Add Customers</a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a routerLink="rentals/showall" class="nav-link">Show All Rentals</a>
        </li>
        <li *ngIf="checkToken()" class="nav-item">
          <a routerLink="rentals/addrental" class="nav-link">New Rental</a>
        </li>
      </ul>
      <form class="d-flex">

        <button *ngIf="checkToken()" (click)="onLogout()" routerLink="home" class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
        <button *ngIf="!checkToken()" routerLink="login" class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
        <button  *ngIf="!checkToken()" routerLink="register" class="btn btn-secondary mx-2 my-2 my-sm-0" type="submit">Register</button>
        

      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

