<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">Vidly</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="customers" class="nav-link">Customers</a>
        </li>
        <li class="nav-item">
          <a routerLink="add-customer" class="nav-link">Add Customers</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>


<!-- <app-header></app-header> -->
<!-- <button class="btn btn-warning" (click)="renderProducts()">Get Products</button>
<app-products></app-products> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->
