<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome To Vidly</h1>
        <p>Start Managing Your Video Rental Store Right Now!</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Add Movies</h2>
          <p>Add Movies with different genres</p>
        </div>
        <div class="col-md-4">
          <h2>Add Customers</h2>
          <p>Add Customers to your database,so once a customer is added, no need to input their information again</p>
        </div>
        <div class="col-md-4">
          <h2>Place Rentals</h2>
          <p>Place Rentals and keep track of your business</p>
        </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>

