<div style="width: 400px; margin: auto">
  <div class="submit-form">
    <div>
      <form [formGroup]="addCustomerForm">
        <div class="form-group">
          <label>Name</label>
          <input
            type="text"
            class="form-control"
            formControlName="name"
            [class.is.invalid]="name?.invalid && (name?.touched || name?.dirty)"
          />
          <div>
            <small
              class="text-danger"
              *ngIf="name?.errors?.required && name?.touched"
            >
              Username is required.
            </small>
            <small
              class="text-danger"
              *ngIf="name?.errors?.minlength && name?.touched"
            >
              Minimum length is 3 Character.
            </small>
            <small class="text-danger" *ngIf="name?.errors?.pattern">
              Username May be (letter, -, _).
            </small>
          </div>
        </div>

        <div class="form-group">
          <label>Phone</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone"
            [class.is.invalid]="phone?.invalid && (phone?.touched || phone?.dirty)"
          />
          <div>
            <small
              class="text-danger"
              *ngIf="phone?.errors?.required && phone?.touched"
            >
              Phone Number is required.
            </small>
            <small class="text-danger" *ngIf="phone?.errors?.pattern">
              Phone Number Must Start with your Country Code and The Numbers are Between (6-14)
            </small>
          </div>

        </div>
        <button (click)="saveCustomer()" class="btn btn-success">Add</button>
      </form>
    </div>
  </div>
</div>
