<p>genre works!</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Body</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let genre of genres">
                <td>{{genre.name}}</td>
                <td>
                    <button></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>